<html>

<head>
    <title>ห้องแชท</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/chat.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/client/main.js"></script>
    <script src="/js/client/theme.js"></script>
    <script src="/js/client/chat.js"></script>
    <style>
        #exit-room-btn:hover {
            background: red;
        }
    </style>
</head>

<body>
    <div class="main-screen">
        <div class="head-bar">
            <span id="name-txt">
                ชื่อ
            </span>
            <span class="mobile-drop-menu active" onclick="openFrame('chat-frame')">แชท</span>
            <span class="mobile-drop-menu" onclick="openFrame('member-list-frame')">ผู้ใช้งาน</span>
            <div class="dropdown right-item">
                <button class="dropbtn" onclick="toggleDropMenu('main-drop-menu')" style="font-size: 16px">&equiv;
                </button>
                <div id="main-drop-menu" class="dropdown-content" style="font-weight: normal;">
                    <span id="toggle-theme-btn">สลับธีม</span>
                    <span onclick="exitRoom()" id="exit-room-btn">ออกห้อง</span>
                </div>
            </div>
        </div>
        <div class="head-screen">
            <div class="title">
                ห้องแชท
            </div>
        </div>
        <div class="content-screen">
            <div class="chat-frame" style="flex:3;position: relative;">
                <div class="chat-box">
                    <div id="chat-screen" class="chat-screen"></div>
                    <div class="chat-footer">
                        <input id="msg-input" placeholder="ข้อความ">
                        <button id="send-btn">ส่ง</button>
                    </div>
                </div>
            </div>
            <div class="option-screen" style="flex: 1">
                <div class="member-list-frame">
                    <div class="head-tag">ผู้ใช้งาน</div>
                    <div id="member-list-box">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-main-popup" hidden>
        <div class="content-main-popup"></div>
    </div>



    <script>
        var SOCKET = io();

        // authorization
        $(() => {
            SOCKET.emit('token', { token: sessionStorage.getItem("token") })
        });
        SOCKET.on('token', (data) => {
            console.log(data);
            if (data.status !== "success") {
                window.location.replace("./");
            } else {
                sessionStorage.setItem("id", data.id)
                tokenSuccess();
            }
            SOCKET.emit('check room', { token: TOKEN });
        });

        var ID, TOKEN, ROOM;
        function tokenSuccess() {
            ID = sessionStorage.getItem("id");
            TOKEN = sessionStorage.getItem("token");
            document.title = ID + " " + document.title;
            $('#name-txt').html(ID);
        }

        $(function () {
            $('#send-btn').on('click', function () {
                var msg = $('#msg-input').val();
                $('#msg-input').val("");
                SOCKET.emit('send in room', { token: TOKEN, roomId: ROOM, msg: msg });
            });
        });

        function exitRoom() {
            SOCKET.emit('exit room', { token: TOKEN });
        }

        // SOCKET RECEIV************************
        SOCKET.on('room list', (data) => {
            try {
                let roomList = data.rooms;
                console.log(data);
                let index = roomList.findIndex(x => x.id == ROOM);
                if (index < 0) return;
                let room = roomList[index];
                $("#member-list-box").html("");
                for (let i = 0; i < room.members.length; i++) {
                    $("#member-list-box").append(
                        "<div class='item dropdown' id='mem" + i + "'>" +
                        "<img src='./images/" + ((room.members[i].type == "host") ? "host" : "man") + "-ico.png'>" +
                        "<div class='user-id'>" + room.members[i].id + "</div>" +
                        "</div>"
                    );
                }
            } catch (error) {
                console.log(error);
            }
        });
        SOCKET.on('join room', (data) => {
            let roomId = data.roomId;
            if (roomId >= 0) {
                hideMainPopup();
            } else {
                $('#modal-main-popup').find('.wrong-txt').html('ผิดพลาด');
            }
        });
        SOCKET.on('send in room', (data) => {
            var id = data.userId;
            var msg = data.msg;
            chatBoxAddMsg("chat-screen", id, msg);
        });
        SOCKET.on('send whisper', (data) => {
            var id = data.id;
            var msg = data.msg;
            chatBoxAddMsg("chat-screen", id, msg, "whisper");
        });
        SOCKET.on('check room', (data) => {
            ROOM = data.roomId;
            if (data.roomId !== -1) {
                console.log($(".head-screen > .title"));
                $(".head-screen > .title").text("ห้องแชท " + data.roomName + " #" + ROOM);
                sessionStorage.setItem("room", ROOM);
            } else {
                sessionStorage.removeItem("room");
                window.location.href = "./main";
            }
        });
        SOCKET.on('exit room', (data) => {
            sessionStorage.removeItem("room");
            window.location.href = "./main";
        });
    </script>
</body>

</html>