.chat-box {
    box-sizing: border-box;
    padding: 0px;
    border: 1px solid darkgrey;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.chat-screen {
    box-sizing: border-box;
    flex: 1;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    background: whitesmoke;
}

.chat-screen .msg-box {
    box-sizing: border-box;
    max-width: 100%;
    padding: 10px;
}

.chat-screen .msg-box .name {
    word-wrap: break-word;
}

.msg-box .msg-frame{
    box-sizing: border-box;
    display: inline-block;
    max-width: 100%;
    margin-top: 5px;
    padding: 8px;
    border-radius: 8px;
    background: cadetblue;
    word-wrap: break-word;
}

.chat-screen .msg-box .msg {
    box-sizing: border-box;
    word-wrap: break-word;
    color: black;
}

.chat-box .chat-footer {
    box-sizing: border-box;
    height: 40px;
    display: flex;
}

.chat-footer input {
    box-sizing: border-box;
    flex: 1;
    width: 1px;
    height: 100%;
    padding: 5px;
}

.chat-footer button {
    box-sizing: border-box;
    width: 80px;
    min-width: 1px;
    height: 100%;

    font-weight: bolder;
    font-size: 20px;
    background: royalblue;
}

.is-dark-mode .chat-box {
    border-color: #1e1e1e;
}

.is-dark-mode .chat-screen {
    background: #292929;
}

.is-dark-mode .msg-box .msg {
    color: white;
}

.is-dark-mode .msg-box .msg-frame{
    background: teal;
}

.is-dark-mode .chat-box input{
    color: white;
    background: #1e1e1e;
    border-color: gray;
}

@media only screen and (max-width: 768px) {
}

@media only screen and (min-width: 768px) {
}