body {
  background: #fff;
  color: #222;
  margin: 0px;
}

button:focus {
  outline: 0;
}

input:focus {
  outline: 0;
}

body.is-dark-mode {
  background: #222;
  color: #fff;
}

button, input[type="submit"] {
  background: steelblue;
  border-radius: 2px;
  font-weight: bolder;
  color: black;
  border: none;
  padding: 8px;
}

button:hover, input[type="submit"]:hover {
  box-shadow: inset 0 0 10px 2px;
}

.is-dark-mode input[type="submit"]:hover{
  box-shadow: inset 0 0 10px 2px white;
}

.is-dark-mode button {
  color: white;
}

/*<FRAME>*/
.main-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.head-screen{
  height: 60px;
  position: relative;
  /*box-shadow: inset 0px -10px 10px -10px;*/
}

.head-screen .title{
  position: relative;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
}

.head-bar {
  overflow: visible;
}

.head-bar > span {
  height: 30px;
  line-height: 30px;
  min-width: 30px;
  box-sizing: border-box;
  float: left;
  display: block;
  text-align: center;
  padding: 0 10px;
  font-weight: bolder;
}

.head-bar > .active{
  box-shadow: inset 0 0 10px 0;
}

.head-bar button{
  height: 30px;
  float: right;
  background: unset;
}

.head-bar > .right-item {
  float: right;
}

#name-txt {
  font-size: 26px;
  text-decoration: underline;
}

.content-screen {
  margin: 0px 20px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px 0px;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: row;
}
.content-screen{
  padding-bottom: 2px;
}
/*</FRAM>*/

/*<MENU>*/
.dropbtn {
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0px;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.dropdown-content span {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content span:hover {
  background-color: #ddd;
}

.dropdown .show {
  display: block;
}

.is-dark-mode .dropdown-content span:hover{
  background-color: #111;
}

.is-dark-mode .dropdown-content{
  background: black;
}

span.mobile-drop-menu{
  display: none;
}
/*</MENU>*/