body {
  background: #fff;
  color: #222;
}

button:focus {
  outline: 0;
}

body.is-dark-mode {
  background: #222;
  color: #fff;
}

button {
  background: rgb(28, 104, 175);
  font-weight: bolder;
  color: black;
  border: none;
  padding: 8px;
  float: right;
}

.is-dark-mode button {
  color: white;
}

.is-dark-mode p {
  color: rgb(28, 104, 175);
}