<html>

<head>
  <meta charset="utf-8">
  <title>Blockly Demo: Step Execution with JS Interpreter</title>
  <script src="/blockly/custom/acorn_interpreter.js"></script>
  <script src="/blockly/blockly_compressed.js"></script>
  <script src="/blockly/blocks_compressed.js"></script>
  <script src="/blockly/javascript_compressed.js"></script>
  <script src="/blockly/msg/js/en.js"></script>
  <script src="/blockly/custom/customblocks.js"></script>

  <script src="/jquery/1.11.2/jquery.min.js"></script>

  <style>
    body {
      background-color: #fff;
      font-family: sans-serif;
    }

    h1 {
      font-weight: normal;
      font-size: 140%;
    }
  </style>
</head>

<body>
  <h1>Run Step by Step</h1>
  <p>
    <button onclick="stepCode()" id="stepButton">Step</button>
    <button onclick="resetCode()" id="resetButton">Reset</button>
  </p>
  <p id="showAsk">?</p>


  <input type="button" id="test" onClick="fnExcelReport();" value="download" />
  <a href="#" id="testAnchor"></a>
  <table id="tbscore">
    <tr>
      <th class="tbscore" width="20%">อันดับ</th>
      <th class="tbscore" width="40%">ชื่อ</th>
      <th class="tbscore" width="20%">คะแนน</th>
      <th class="tbscore" width="20%">ทำได้/ข้อ</th>
    </tr>
    <tr>
      <td class="tbscore">1</td>
      <td class="tbscore">573023600-2</td>
      <td class="tbscore">2004</td>
      <td class="tbscore">40</td>
    </tr>
    <tr>
      <td class="tbscore">2</td>
      <td class="tbscore">573029967-3</td>
      <td class="tbscore">4151</td>
      <td class="tbscore">28</td>
    </tr>
    <tr>
      <td class="tbscore">3</td>
      <td class="tbscore">573021202-5</td>
      <td class="tbscore">3423</td>
      <td class="tbscore">74</td>
    </tr>
    <tr>
      <td class="tbscore">4</td>
      <td class="tbscore">573029623-3</td>
      <td class="tbscore">3482</td>
      <td class="tbscore">100</td>
    </tr>
    <tr>
      <td class="tbscore">5</td>
      <td class="tbscore">573021120-8</td>
      <td class="tbscore">3029</td>
      <td class="tbscore">98</td>
    </tr>
    <tr>
      <td class="tbscore">6</td>
      <td class="tbscore">573021740-1</td>
      <td class="tbscore">2276</td>
      <td class="tbscore">46</td>
    </tr>
    <tr>
      <td class="tbscore">7</td>
      <td class="tbscore">573027930-5</td>
      <td class="tbscore">2853</td>
      <td class="tbscore">44</td>
    </tr>
    <tr>
      <td class="tbscore">8</td>
      <td class="tbscore">573026162-10</td>
      <td class="tbscore">1332</td>
      <td class="tbscore">99</td>
    </tr>
    <tr>
      <td class="tbscore">9</td>
      <td class="tbscore">573028013-10</td>
      <td class="tbscore">6125</td>
      <td class="tbscore">62</td>
    </tr>
    <tr>
      <td class="tbscore">10</td>
      <td class="tbscore">573021290-4</td>
      <td class="tbscore">8212</td>
      <td class="tbscore">81</td>
    </tr>
    <tr>
      <td class="tbscore">11</td>
      <td class="tbscore">573029817-5</td>
      <td class="tbscore">53</td>
      <td class="tbscore">4</td>
    </tr>
    <tr>
      <td class="tbscore">12</td>
      <td class="tbscore">573023127-8</td>
      <td class="tbscore">4547</td>
      <td class="tbscore">97</td>
    </tr>
    <tr>
      <td class="tbscore">13</td>
      <td class="tbscore">573025666-9</td>
      <td class="tbscore">6151</td>
      <td class="tbscore">54</td>
    </tr>
    <tr>
      <td class="tbscore">14</td>
      <td class="tbscore">573024654-2</td>
      <td class="tbscore">1323</td>
      <td class="tbscore">95</td>
    </tr>
    <tr>
      <td class="tbscore">15</td>
      <td class="tbscore">573026075-10</td>
      <td class="tbscore">7201</td>
      <td class="tbscore">78</td>
    </tr>
    <tr>
      <td class="tbscore">16</td>
      <td class="tbscore">573023823-8</td>
      <td class="tbscore">3095</td>
      <td class="tbscore">32</td>
    </tr>
    <tr>
      <td class="tbscore">17</td>
      <td class="tbscore">573022294-8</td>
      <td class="tbscore">129</td>
      <td class="tbscore">86</td>
    </tr>
    <tr>
      <td class="tbscore">18</td>
      <td class="tbscore">57302297-4</td>
      <td class="tbscore">8809</td>
      <td class="tbscore">14</td>
    </tr>
    <tr>
      <td class="tbscore">19</td>
      <td class="tbscore">573027134-6</td>
      <td class="tbscore">3108</td>
      <td class="tbscore">62</td>
    </tr>
    <tr>
      <td class="tbscore">20</td>
      <td class="tbscore">573029966-5</td>
      <td class="tbscore">968</td>
      <td class="tbscore">81</td>
    </tr>
    <tr>
      <td class="tbscore">21</td>
      <td class="tbscore">573026026-2</td>
      <td class="tbscore">4967</td>
      <td class="tbscore">4</td>
    </tr>
    <tr>
      <td class="tbscore">22</td>
      <td class="tbscore">573022532-3</td>
      <td class="tbscore">1367</td>
      <td class="tbscore">33</td>
    </tr>
    <tr>
      <td class="tbscore">23</td>
      <td class="tbscore">573027823-10</td>
      <td class="tbscore">3104</td>
      <td class="tbscore">33</td>
    </tr>
    <tr>
      <td class="tbscore">24</td>
      <td class="tbscore">573029896-4</td>
      <td class="tbscore">3867</td>
      <td class="tbscore">72</td>
    </tr>
    <tr>
      <td class="tbscore">25</td>
      <td class="tbscore">57302122-6</td>
      <td class="tbscore">9480</td>
      <td class="tbscore">42</td>
    </tr>
    <tr>
      <td class="tbscore">26</td>
      <td class="tbscore">57302923-7</td>
      <td class="tbscore">3434</td>
      <td class="tbscore">41</td>
    </tr>
    <tr>
      <td class="tbscore">27</td>
      <td class="tbscore">573024986-6</td>
      <td class="tbscore">2166</td>
      <td class="tbscore">77</td>
    </tr>
    <tr>
      <td class="tbscore">28</td>
      <td class="tbscore">573028300-1</td>
      <td class="tbscore">6859</td>
      <td class="tbscore">45</td>
    </tr>
    <tr>
      <td class="tbscore">29</td>
      <td class="tbscore">573029257-5</td>
      <td class="tbscore">3550</td>
      <td class="tbscore">89</td>
    </tr>
    <tr>
      <td class="tbscore">30</td>
      <td class="tbscore">573028880-9</td>
      <td class="tbscore">6377</td>
      <td class="tbscore">8</td>
    </tr>
    <tr>
      <td class="tbscore">31</td>
      <td class="tbscore">573022735-3</td>
      <td class="tbscore">9079</td>
      <td class="tbscore">64</td>
    </tr>
    <tr>
      <td class="tbscore">32</td>
      <td class="tbscore">573024233-9</td>
      <td class="tbscore">7668</td>
      <td class="tbscore">48</td>
    </tr>
    <tr>
      <td class="tbscore">33</td>
      <td class="tbscore">573023578-4</td>
      <td class="tbscore">7906</td>
      <td class="tbscore">4</td>
    </tr>
    <tr>
      <td class="tbscore">34</td>
      <td class="tbscore">57302272-2</td>
      <td class="tbscore">1215</td>
      <td class="tbscore">83</td>
    </tr>
    <tr>
      <td class="tbscore">35</td>
      <td class="tbscore">573026135-2</td>
      <td class="tbscore">8516</td>
      <td class="tbscore">50</td>
    </tr>
    <tr>
      <td class="tbscore">36</td>
      <td class="tbscore">573027871-7</td>
      <td class="tbscore">5982</td>
      <td class="tbscore">77</td>
    </tr>
    <tr>
      <td class="tbscore">37</td>
      <td class="tbscore">573026898-5</td>
      <td class="tbscore">8947</td>
      <td class="tbscore">15</td>
    </tr>
    <tr>
      <td class="tbscore">38</td>
      <td class="tbscore">573023535-1</td>
      <td class="tbscore">4595</td>
      <td class="tbscore">7</td>
    </tr>
    <tr>
      <td class="tbscore">39</td>
      <td class="tbscore">57302148-7</td>
      <td class="tbscore">2874</td>
      <td class="tbscore">88</td>
    </tr>
    <tr>
      <td class="tbscore">40</td>
      <td class="tbscore">573021727-2</td>
      <td class="tbscore">2497</td>
      <td class="tbscore">84</td>
    </tr>
    <tr>
      <td class="tbscore">41</td>
      <td class="tbscore">57302155-8</td>
      <td class="tbscore">1599</td>
      <td class="tbscore">77</td>
    </tr>
    <tr>
      <td class="tbscore">42</td>
      <td class="tbscore">573024329-9</td>
      <td class="tbscore">7301</td>
      <td class="tbscore">2</td>
    </tr>
    <tr>
      <td class="tbscore">43</td>
      <td class="tbscore">573024196-2</td>
      <td class="tbscore">944</td>
      <td class="tbscore">21</td>
    </tr>
    <tr>
      <td class="tbscore">44</td>
      <td class="tbscore">573025437-8</td>
      <td class="tbscore">9656</td>
      <td class="tbscore">58</td>
    </tr>
    <tr>
      <td class="tbscore">45</td>
      <td class="tbscore">573021598-1</td>
      <td class="tbscore">617</td>
      <td class="tbscore">61</td>
    </tr>
    <tr>
      <td class="tbscore">46</td>
      <td class="tbscore">573028361-4</td>
      <td class="tbscore">3215</td>
      <td class="tbscore">88</td>
    </tr>
    <tr>
      <td class="tbscore">47</td>
      <td class="tbscore">573023749-4</td>
      <td class="tbscore">5934</td>
      <td class="tbscore">97</td>
    </tr>
    <tr>
      <td class="tbscore">48</td>
      <td class="tbscore">573024899-2</td>
      <td class="tbscore">9338</td>
      <td class="tbscore">77</td>
    </tr>
    <tr>
      <td class="tbscore">49</td>
      <td class="tbscore">573026247-9</td>
      <td class="tbscore">7916</td>
      <td class="tbscore">2</td>
    </tr>
    <tr>
      <td class="tbscore">50</td>
      <td class="tbscore">573022309-1</td>
      <td class="tbscore">541</td>
      <td class="tbscore">35</td>
    </tr>
    <tr>
      <td class="tbscore">51</td>
      <td class="tbscore">573029322-9</td>
      <td class="tbscore">4222</td>
      <td class="tbscore">31</td>
    </tr>
    <tr>
      <td class="tbscore">52</td>
      <td class="tbscore">573021014-3</td>
      <td class="tbscore">354</td>
      <td class="tbscore">37</td>
    </tr>
    <tr>
      <td class="tbscore">53</td>
      <td class="tbscore">57302394-5</td>
      <td class="tbscore">611</td>
      <td class="tbscore">7</td>
    </tr>
    <tr>
      <td class="tbscore">54</td>
      <td class="tbscore">573029289-8</td>
      <td class="tbscore">6855</td>
      <td class="tbscore">75</td>
    </tr>
    <tr>
      <td class="tbscore">55</td>
      <td class="tbscore">573027516-9</td>
      <td class="tbscore">4198</td>
      <td class="tbscore">26</td>
    </tr>
    <tr>
      <td class="tbscore">56</td>
      <td class="tbscore">573022646-5</td>
      <td class="tbscore">5240</td>
      <td class="tbscore">38</td>
    </tr>
    <tr>
      <td class="tbscore">57</td>
      <td class="tbscore">573026232-6</td>
      <td class="tbscore">5058</td>
      <td class="tbscore">29</td>
    </tr>
    <tr>
      <td class="tbscore">58</td>
      <td class="tbscore">573029240-6</td>
      <td class="tbscore">5420</td>
      <td class="tbscore">11</td>
    </tr>
    <tr>
      <td class="tbscore">59</td>
      <td class="tbscore">573022261-7</td>
      <td class="tbscore">4319</td>
      <td class="tbscore">88</td>
    </tr>
    <tr>
      <td class="tbscore">60</td>
      <td class="tbscore">573024805-5</td>
      <td class="tbscore">5377</td>
      <td class="tbscore">56</td>
    </tr>
    <tr>
      <td class="tbscore">61</td>
      <td class="tbscore">573021158-4</td>
      <td class="tbscore">7953</td>
      <td class="tbscore">50</td>
    </tr>
    <tr>
      <td class="tbscore">62</td>
      <td class="tbscore">573024871-3</td>
      <td class="tbscore">8121</td>
      <td class="tbscore">6</td>
    </tr>
    <tr>
      <td class="tbscore">63</td>
      <td class="tbscore">573026989-2</td>
      <td class="tbscore">701</td>
      <td class="tbscore">48</td>
    </tr>
    <tr>
      <td class="tbscore">64</td>
      <td class="tbscore">573022351-9</td>
      <td class="tbscore">8055</td>
      <td class="tbscore">10</td>
    </tr>
    <tr>
      <td class="tbscore">65</td>
      <td class="tbscore">573024247-1</td>
      <td class="tbscore">7110</td>
      <td class="tbscore">7</td>
    </tr>
    <tr>
      <td class="tbscore">66</td>
      <td class="tbscore">573026171-5</td>
      <td class="tbscore">3291</td>
      <td class="tbscore">29</td>
    </tr>
    <tr>
      <td class="tbscore">67</td>
      <td class="tbscore">573022974-9</td>
      <td class="tbscore">8312</td>
      <td class="tbscore">59</td>
    </tr>
    <tr>
      <td class="tbscore">68</td>
      <td class="tbscore">573028485-3</td>
      <td class="tbscore">539</td>
      <td class="tbscore">12</td>
    </tr>
    <tr>
      <td class="tbscore">69</td>
      <td class="tbscore">573026050-5</td>
      <td class="tbscore">719</td>
      <td class="tbscore">39</td>
    </tr>
    <tr>
      <td class="tbscore">70</td>
      <td class="tbscore">573027439-1</td>
      <td class="tbscore">3422</td>
      <td class="tbscore">38</td>
    </tr>
    <tr>
      <td class="tbscore">71</td>
      <td class="tbscore">573024804-4</td>
      <td class="tbscore">3417</td>
      <td class="tbscore">75</td>
    </tr>
    <tr>
      <td class="tbscore">72</td>
      <td class="tbscore">5730281-10</td>
      <td class="tbscore">9666</td>
      <td class="tbscore">44</td>
    </tr>
    <tr>
      <td class="tbscore">73</td>
      <td class="tbscore">573025268-3</td>
      <td class="tbscore">2633</td>
      <td class="tbscore">12</td>
    </tr>
    <tr>
      <td class="tbscore">74</td>
      <td class="tbscore">573021147-4</td>
      <td class="tbscore">4992</td>
      <td class="tbscore">80</td>
    </tr>
    <tr>
      <td class="tbscore">75</td>
      <td class="tbscore">573029294-6</td>
      <td class="tbscore">7466</td>
      <td class="tbscore">23</td>
    </tr>
    <tr>
      <td class="tbscore">76</td>
      <td class="tbscore">573027321-5</td>
      <td class="tbscore">8390</td>
      <td class="tbscore">61</td>
    </tr>
    <tr>
      <td class="tbscore">77</td>
      <td class="tbscore">573029932-9</td>
      <td class="tbscore">6430</td>
      <td class="tbscore">73</td>
    </tr>
    <tr>
      <td class="tbscore">78</td>
      <td class="tbscore">573024890-4</td>
      <td class="tbscore">9220</td>
      <td class="tbscore">20</td>
    </tr>
    <tr>
      <td class="tbscore">79</td>
      <td class="tbscore">573029778-6</td>
      <td class="tbscore">355</td>
      <td class="tbscore">76</td>
    </tr>
    <tr>
      <td class="tbscore">80</td>
      <td class="tbscore">573026954-2</td>
      <td class="tbscore">5867</td>
      <td class="tbscore">14</td>
    </tr>
    <tr>
      <td class="tbscore">81</td>
      <td class="tbscore">573024284-10</td>
      <td class="tbscore">1626</td>
      <td class="tbscore">44</td>
    </tr>
    <tr>
      <td class="tbscore">82</td>
      <td class="tbscore">57302783-4</td>
      <td class="tbscore">1751</td>
      <td class="tbscore">8</td>
    </tr>
    <tr>
      <td class="tbscore">83</td>
      <td class="tbscore">573026196-1</td>
      <td class="tbscore">1431</td>
      <td class="tbscore">87</td>
    </tr>
    <tr>
      <td class="tbscore">84</td>
      <td class="tbscore">573022746-4</td>
      <td class="tbscore">4836</td>
      <td class="tbscore">39</td>
    </tr>
    <tr>
      <td class="tbscore">85</td>
      <td class="tbscore">57302623-9</td>
      <td class="tbscore">5481</td>
      <td class="tbscore">85</td>
    </tr>
    <tr>
      <td class="tbscore">86</td>
      <td class="tbscore">573023145-2</td>
      <td class="tbscore">3727</td>
      <td class="tbscore">10</td>
    </tr>
    <tr>
      <td class="tbscore">87</td>
      <td class="tbscore">573024812-8</td>
      <td class="tbscore">4113</td>
      <td class="tbscore">16</td>
    </tr>
    <tr>
      <td class="tbscore">88</td>
      <td class="tbscore">573021809-3</td>
      <td class="tbscore">7016</td>
      <td class="tbscore">43</td>
    </tr>
    <tr>
      <td class="tbscore">89</td>
      <td class="tbscore">573023660-7</td>
      <td class="tbscore">5823</td>
      <td class="tbscore">32</td>
    </tr>
    <tr>
      <td class="tbscore">90</td>
      <td class="tbscore">573023248-4</td>
      <td class="tbscore">3146</td>
      <td class="tbscore">67</td>
    </tr>
    <tr>
      <td class="tbscore">91</td>
      <td class="tbscore">573029058-10</td>
      <td class="tbscore">4665</td>
      <td class="tbscore">47</td>
    </tr>
    <tr>
      <td class="tbscore">92</td>
      <td class="tbscore">573024117-6</td>
      <td class="tbscore">2605</td>
      <td class="tbscore">94</td>
    </tr>
    <tr>
      <td class="tbscore">93</td>
      <td class="tbscore">573027035-1</td>
      <td class="tbscore">236</td>
      <td class="tbscore">68</td>
    </tr>
    <tr>
      <td class="tbscore">94</td>
      <td class="tbscore">573028102-6</td>
      <td class="tbscore">7616</td>
      <td class="tbscore">13</td>
    </tr>
    <tr>
      <td class="tbscore">95</td>
      <td class="tbscore">573027251-9</td>
      <td class="tbscore">1577</td>
      <td class="tbscore">78</td>
    </tr>
    <tr>
      <td class="tbscore">96</td>
      <td class="tbscore">573025999-6</td>
      <td class="tbscore">2793</td>
      <td class="tbscore">90</td>
    </tr>
    <tr>
      <td class="tbscore">97</td>
      <td class="tbscore">573021514-9</td>
      <td class="tbscore">3095</td>
      <td class="tbscore">37</td>
    </tr>
    <tr>
      <td class="tbscore">98</td>
      <td class="tbscore">57302886-10</td>
      <td class="tbscore">2284</td>
      <td class="tbscore">34</td>
    </tr>
    <tr>
      <td class="tbscore">99</td>
      <td class="tbscore">573029216-1</td>
      <td class="tbscore">6662</td>
      <td class="tbscore">79</td>
    </tr>
  </table>

  <script src="/js/client/create_excel_report.js"></script>


  <div style="width: 100%">
    <div id="blocklyDiv" style="display: inline-block; height: 480px; width: 58%"></div>
    <textarea id="output" disabled="disabled" style="display: inline-block; height: 480px; width: 38%;">
    </textarea>
  </div>

  <xml id="toolbox" style="display: none">
    <category name="ตัวแปร">
      <block type="my_declare_variable"></block>
      <block type="my_setvariable"></block>
      <block type="my_variable"></block>
    </category>
    <category name="กำหนดค่า">
      <block type="my_scanf"></block>
      <block type="my_number"></block>
      <block type="my_math"></block>
    </category>
    <category name="แสดงผล">
      <block type="my_string"></block>
      <block type="my_printf"></block>
    </category>
    <category name="เงื่อนไข">
      <block type="my_condition"></block>
      <block type="my_compare"></block>
      <block type="my_if"></block>
      <block type="my_ifelse"></block>
    </category>
    <category name="ทำซ้ำ">
      <block type="my_while"></block>
      <block type="my_dowhile"></block>
      <block type="my_for"></block>
    </category>
    <category name="สร้างตัวแปร" custom="VARIABLE"></category>
    <category name="คำถาม">
      <block type="ask_setvariable"></block>
      <block type="ask_if"></block>
      <block type="ask_ifelse"></block>
      <block type="ask_while"></block>
      <block type="ask_dowhile"></block>
    </category>
  </xml>

  <xml id="startBlocks" style="display: none">
    <block type="my_while" inline="true" x="20" y="20">
      <value name="condition">
        <block type="my_number">
          <field name="number">1</field>
        </block>
      </value>
      <statement name="todo">
        <block type="ask_if">
          <value name="condition">
            <block type="my_number">
              <field name="number">1</field>
            </block>
          </value>
          <statement name="todo">
            <block type="my_printf">
              <value name="var1">
                <block type="my_string">
                  <field name="message_input">test</field>
                </block>
              </value>
            </block>
          </statement>
        </block>
      </statement>
    </block>
  </xml>

  <script>
    var demoWorkspace = Blockly.inject('blocklyDiv',
      {
        media: '../../media/',
        toolbox: document.getElementById('toolbox')
      });
    Blockly.Xml.domToWorkspace(document.getElementById('startBlocks'), demoWorkspace);

    var outputArea = document.getElementById('output');
    var stepButton = document.getElementById('stepButton');
    var myInterpreter = null;

    function initApi(interpreter, scope) {
      // Add an API function for the alert() block, generated for "text_print" blocks.
      interpreter.setProperty(scope, 'alert',
        interpreter.createNativeFunction(function (text) {
          text = text ? text.toString() : '';
          outputArea.value += '\n' + text;
        }));

      // Add an API function for the prompt() block.
      var wrapper = function (text) {
        text = text ? text.toString() : '';
        return interpreter.createPrimitive(prompt(text));
      };
      interpreter.setProperty(scope, 'prompt',
        interpreter.createNativeFunction(wrapper));

      // Add an API function for highlighting blocks.
      var wrapper = function (id) {
        id = id ? id.toString() : '';
        return interpreter.createPrimitive(highlightBlock(id));
      };
      interpreter.setProperty(scope, 'highlightBlock',
        interpreter.createNativeFunction(wrapper));

      // Add an API function for askQ blocks.
      var wrapper = function (text, answer) {
        text = text ? text.toString() : '';
        return interpreter.createPrimitive(askQ(text, answer));
      };
      interpreter.setProperty(scope, 'askQ',
        interpreter.createNativeFunction(wrapper));

      // Add an API function for askA blocks.
      var wrapper = function () {
        return interpreter.createPrimitive(askA());
      };
      interpreter.setProperty(scope, 'askA',
        interpreter.createNativeFunction(wrapper));
    }

    var highlightPause = false;
    var latestCode = '';

    function highlightBlock(id) {
      demoWorkspace.highlightBlock(id);
      highlightPause = true;
    }

    var textQuestion = "";
    var textChoices = [];
    var textAnswer = "";
    //สร้างคำถาม
    function askQ(text, answer) {
      highlightPause = true; // หยุด block

      //สร้างชุดคำถาม ตัวเลือก เฉลย
      var choices = [];
      if (typeof answer == "boolean") {
        choices = ["ใช่", "ไม่ใช่"]
        answer = answer ? "ใช่" : "ไม่ใช่";
      } else if (typeof answer == "number") {
        choices = genChoice(answer);
      } else {
        return;
      }
      textQuestion = text;
      textAnswer = answer;
      textChoices = choices;

      //แสดงคำถามต่อจากนี้
      document.getElementById("showAsk").innerHTML = text + "<br>" + choices.toString();
    }

    function askA() {
      highlightPause = true; // หยุด block
      document.getElementById("showAsk").innerHTML = "เฉลย " + textAnswer;
    }

    //สุ่มสร้างตัวเลือกประเภทตัวเลข
    function genChoice(answer) {
      var num = [];
      for (var i = -10; i <= 10; i++) {
        if (i == 0) continue;
        num.push(answer + i);
      }
      var choices = [];
      for (var i = 0; i < 3; i++) {
        var rng = Math.floor(Math.random() * num.length);
        choices.push(num[rng]);
        num.splice(rng, 1);
      }

      choices.push(answer);

      //สลับตำแหน่งตัวเลือก
      var a = choices;
      for (let i = a.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [a[i], a[j]] = [a[j], a[i]];
      }
      choices = a;

      return choices;
    }

    function resetStepUi(clearOutput) {
      demoWorkspace.highlightBlock(null);
      highlightPause = false;

      if (clearOutput) {
        outputArea.value = 'Program output:\n=================';
      }
    }

    function generateCodeAndLoadIntoInterpreter() {
      // Generate JavaScript code and parse it.
      Blockly.JavaScript.STATEMENT_PREFIX = 'highlightBlock(%1);\n';
      Blockly.JavaScript.addReservedWords('highlightBlock');
      latestCode = Blockly.JavaScript.workspaceToCode(demoWorkspace);
      resetStepUi(true);
    }

    function stepCode() {
      if (!myInterpreter) {
        // First statement of this code.
        // Clear the program output.
        resetStepUi(true);
        myInterpreter = new Interpreter(latestCode, initApi);

        // And then show generated code in an alert.
        // In a timeout to allow the outputArea.value to reset first.
        setTimeout(function () {
          alert('Ready to execute the following code\n' +
            '===================================\n' + latestCode);
          highlightPause = true;
          stepCode();
        }, 1);
        return;
      }
      highlightPause = false;
      do {
        try {
          var hasMoreCode = myInterpreter.step();
          console.log(hasMoreCode);
        } finally {
          if (!hasMoreCode) {
            // Program complete, no more code to execute.
            outputArea.value += '\n\n<< Program complete >>';

            myInterpreter = null;
            resetStepUi(false);

            // Cool down, to discourage accidentally restarting the program.
            stepButton.disabled = 'disabled';
            setTimeout(function () {
              stepButton.disabled = '';
            }, 2000);

            return;
          }
        }
        // Keep executing until a highlight statement is reached,
        // or the code completes or errors.
      } while (hasMoreCode && !highlightPause);
    }

    function resetCode() {
      Blockly.JavaScript.INFINITE_LOOP_TRAP = 'if (--window.LoopTrap == 0) throw "Infinite loop.";\n';
      var code = Blockly.JavaScript.workspaceToCode(demoWorkspace);
      console.log(code);
      myInterpreter = null;
      resetStepUi(false);
    }

    // Load the interpreter now, and upon future changes.
    generateCodeAndLoadIntoInterpreter();
    demoWorkspace.addChangeListener(function (event) {
      if (!(event instanceof Blockly.Events.Ui)) {
        // Something changed. Parser needs to be reloaded.
        generateCodeAndLoadIntoInterpreter();
      }
    });
  </script>
</body>

</html>