<ul class="my-footer">
    <li>
        <u>Place Of Education</u>
        <div>Computer Science</div>
        <div>Khone Kaen University</div>
    </li>
    <li>
        <u>Contact Us</u>
        <div>l.apichat@kkumail.com</div>
        <div>worapol@kkumail.com</div>
    </li>
    <div class="my-footer-right">
        <li>
            <u>Team</u>
            <div>Apichat Laowor</div>
            <div>Worapol Tananchai</div>
        </li>
    </div>
    <script>
        //setup
        $(document).ready(function () {
            $('#footer-firstName').text(" คุณ " + sessionStorage.getItem('firstName'));
        });
    </script>
</ul>