<!doctype html>
<html>
    <head>
        <title> Chat Application Example by DevAhoy.com</title>
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="/jquery/1.11.2/jquery.min.js"></script>
        <style>
            nav.ss{height:400px;background-color: #fff;overflow:hidden; overflow-y:scroll;}
            nav.ss p{margin: 10px}
        </style>
    </head>
    <body>
        <div class="container">
            <h1> Chat Application by Dover</h1>
            <div id="chat-box">
                <p id="my-name">

                </p>
                <p>
                    <nav class="ss" id="message-box">
                    </nav>
                </p>
                <form action=''>
                    <input type="text" id="message" autocomplete="off">
                    <button >Send</button>
                </form>
        <script>
            var name = "";
            var ROOM = "chat123";
            var socket = io();
            //send room id to join room
            socket.on('connect',function(){
                socket.emit('room', ROOM);
            });
            //send
            $('form').submit(function(){
                var message = $('#message').val();
                if(name == "" && message != ""){
                    name = message;
                    message = "connect";
                    socket.emit('room', ROOM);
                    $('#chat-box p#my-name').append($('<p>').text(name));
                }
                socket.emit('chatter',{name:name,message:message});
                console.log(message);
                $('#message').val('');
                return false;
            });
            //receive
            socket.on('chatter', function(message) {
                $('#chat-box nav').append($('<p>').text(message));
                    console.log(message);
                var messageBox = document.getElementById("message-box");
                messageBox.scrollTop = messageBox.scrollHeight;
            });
        </script>
        </div>
    </body>