doctype html
html
    head
        title Chat Application Example by DevAhoy.com
        link(rel='stylesheet', href='css/main.css')
        script(src="/socket.io/socket.io.js")
        script(src="http://code.jquery.com/jquery-1.11.2.min.js")
        style(type='text/css').
            nav.ss{height:400px;background-color: #fff;overflow:hidden; overflow-y:scroll;}
            nav.ss p{margin: 10px}
    body
        div.container
            h1 Chat Application By Dover
            div#chat-box
                p#my-name
                p
                    nav.ss#message-box
                
                form(action='')
                    input(type="text", id="message", autocomplete="off")
                    button Send
            canvas#canvas(width="800", height="600", style="background:lightblue", tabindex="1")
        script.
            var PLAYER_NAME = "";
            var socket = io();
            socket.on('connect',function(){
                socket.emit('chatter', {name:PLAYER_NAME,message:"Hello"});
            });
            //send
            $('form').submit(function(){
                var message = $('#message').val();
                if(PLAYER_NAME == "" && message != ""){
                    PLAYER_NAME = message;
                    let rngImg = "aaaabbbcccccdddddddddddddeeeffgh";
                    MY_PLAYER = {
                        name:PLAYER_NAME,
                        img:rngImg[Math.floor(Math.random()*rngImg.length)]
                    }
                    socket.emit('game',{obj:MY_PLAYER,action:""});

                    message = "connect";
                    $('#chat-box p#my-name').append($('<p>').text(PLAYER_NAME));
                }
                socket.emit('chatter',{name:PLAYER_NAME,message:message});
                console.log(message);
                $('#message').val('');
                return false;
            });
            //receive
            socket.on('chatter', function(message) {
                $('#chat-box nav').append($('<p>').text(message));
                var messageBox = document.getElementById("message-box");
                messageBox.scrollTop = messageBox.scrollHeight;
            });

            //send game socket
            function sendGameSocket(action){
                socket.emit('game',{obj:MY_PLAYER,action:action});
            };

            //receive game socket
            socket.on('game', function(pObj) {
                objUsers = pObj;
                let index = objUsers.findIndex(x => x.name==PLAYER_NAME);
                MY_PLAYER = objUsers[index];
            });

            //Test game in canvas
            var MY_PLAYER = {};
            var objUsers = [];
            var imgCharactor = {};
            function init() {
                imgCharactor["a"] = new Image();
                imgCharactor["a"].src = 'http://guidesmedia.ign.com/guides/059687/images/blackwhite/pokemans_001.gif';
                imgCharactor["b"] = new Image();
                imgCharactor["b"].src = 'http://guidesmedia.ign.com/guides/059687/images/blackwhite/pokemans_004.gif';
                imgCharactor["c"] = new Image();
                imgCharactor["c"].src = 'http://guidesmedia.ign.com/guides/059687/images/blackwhite/pokemans_007.gif';
                imgCharactor["d"] = new Image();
                imgCharactor["d"].src = 'http://guidesmedia.ign.com/guides/059687/images/blackwhite/pokemans_010.gif';
                imgCharactor["e"] = new Image();
                imgCharactor["e"].src = 'http://guidesmedia.ign.com/guides/059687/images/blackwhite/pokemans_018.gif';
                imgCharactor["f"] = new Image();
                imgCharactor["f"].src = 'http://guidesmedia.ign.com/guides/059687/images/blackwhite/pokemans_052.gif';;
                imgCharactor["g"] = new Image();
                imgCharactor["g"].src = 'http://guidesmedia.ign.com/guides/059687/images/blackwhite/pokemans_150.gif';
                imgCharactor["h"] = new Image();
                imgCharactor["h"].src = 'http://guidesmedia.ign.com/guides/059687/images/blackwhite/pokemans_151.gif';

                window.requestAnimationFrame(draw);
            }
            var mouseAction = "";
            function draw() {
                sendGameSocket(mouseAction);
                let canvas = document.getElementById('canvas');
                let ctx = document.getElementById('canvas').getContext('2d');

                ctx.globalCompositeOperation = 'destination-over';
                ctx.clearRect(0, 0, 800, 600); // clear canvas

                for(let i=0 ; i < objUsers.length ; i++){
                    // draw any player
                    let obj = objUsers[i];
                    ctx.drawImage(imgCharactor[obj.img], obj.x-50, obj.y-50, 100, 100);
                }

                window.requestAnimationFrame(draw);
            }

            /*var mapKey = {87:false, 83:false, 65:false, 68:false};
            document.addEventListener('keydown', function(event) {
                if(event.target == canvas) {
                    if(event.keyCode in mapKey){
                        mapKey[event.keyCode] = true;
                    }
                }
            }, false);

            document.addEventListener('keyup', function(event) {
                if(event.target == canvas){
                    if(event.keyCode in mapKey){
                        mapKey[event.keyCode] = false;
                    }
                }
            }, false);

            canvas.addEventListener('keypress', function(event){
                let palyerAction = "";
                if(mapKey["87"]==true){
                    palyerAction += "T";
                }
                if(mapKey["83"]==true){
                    palyerAction += "B";
                }
                if(mapKey["65"]==true){
                    palyerAction += "L";
                }
                if(mapKey["68"]==true){
                    palyerAction += "R";
                }
                sendGameSocket(palyerAction);
            }, false);*/

            canvas.addEventListener('mousemove', function(event){
                if(event.which != 1){
                    return;
                }
                let x = event.pageX - canvas.offsetLeft;
                let y = event.pageY - canvas.offsetTop;
                mouseAction = "";
                if(y<MY_PLAYER.y-50){
                    mouseAction += "T";
                }
                if(y>MY_PLAYER.y+50){
                    mouseAction += "B";
                }
                if(x<MY_PLAYER.x-50){
                    mouseAction += "L";
                }
                if(x>MY_PLAYER.x+50){
                    mouseAction += "R";
                }
            }, false);

            canvas.addEventListener('touchstart', function(event){
                let x = event.originalEvent.touches[0].pageX; - canvas.offsetLeft;
                let y = event.originalEvent.touches[0].pageY - canvas.offsetTop;
                $('#chat-box nav').append($('<p>').text(x+","+y));
                mouseAction = "";
                if(y<MY_PLAYER.y-50){
                    mouseAction += "T";
                }
                if(y>MY_PLAYER.y+50){
                    mouseAction += "B";
                }
                if(x<MY_PLAYER.x-50){
                    mouseAction += "L";
                }
                if(x>MY_PLAYER.x+50){
                    mouseAction += "R";
                }
            }, false);

            canvas.addEventListener('touchend', function(event){
                mouseAction = "";
            }, false);

            canvas.addEventListener('mouseup', function(event){
                mouseAction = "";
            }, false);

            init();