<html >
    <head>
        <title> Chat Application Example by Dover.com</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="/jquery/1.11.2/jquery.min.js"></script>
        <script src="/script/sha1.js"></script>
        <style>
            nav#message-box,#room-list-box,#user-list-box{margin:5px;height:400px;background-color: #fff;overflow:hidden; overflow-y:scroll;}
            nav#message-box p{margin: 10px}
            button#create-room-btn,#join-room-btn,#invite-room-btn{
                background: darkslategray;
                color: #fff;
                font-weight: bold;
                width: 90%;
                border: 1px solid cadetblue;
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1> Chat Application by Dover</h1>
            <div id="chat-box">
                <p id="my-name" align="right" style="color:darkslategrey;font-size:24px;">
                    <b>Username : </b>
                </p>
                <table style="width:100%">
                    <tr>
                        <td width="50%">
                            <nav id="message-box">
                            </nav>
                            <form id="form-chat" action=''>
                                <input type="text" id="message" autocomplete="off">
                                <button >SEND</button>
                            </form>
                        </td>
                        <td width="25%" valign="top" id="room-list-td">
                            <nav id="room-list-box">
                            </nav>
                            <div align="center">
                                <button id="create-room-btn" >CREATE ROOM</button>
                            </div>
                        </td>
                        <td width="25%" valign="top">
                            <nav id="user-list-box">
                            </nav>
                            <div align="center">
                                <button id="join-room-btn" >JOIN ROOM</button>
                                <button id="invite-room-btn" >INVITE</button>
                            </div>
                        </td>
                    </tr>
                </table>
        <script>
            var divLogin = document.getElementById('login-box');
            divLogin.style.display='';
            //$('#login-box').toggle(true);
            var divChat = document.getElementById('chat-box');
            divChat.style.display='none';
            //$('#room-list-td').toggle(false);
            $('#invite-room-btn').toggle(false);
            var name = "";
            var ROOM = "chat123";
            var socket = io();
            //send room id to join room
            /*socket.on('connect',function(){
                socket.emit('room', ROOM);
            });*/
            //send login
            $('#form-login').submit(function(){
                try {
                    let username = $('#username').val();
                    let password = $('#password').val();
                    let key = "";
                    if(username != "" && password != ""){
                        key = SHA1(password);
                        socket.emit('login', { username:username, key:key});
                    }
                    console.log(username+","+key);
                } catch (error) {
                    console.log(error);
                }
                return false; // ทำให้หน้าไม่ refresh
            });

            $('#form-chat').submit(function(){
                var message = $('#message').val();
                socket.emit('chat',{token:USER_DATA.token,message:message});
                console.log(message);
                $('#message').val('');
                return false;
            });

            $('#create-room-btn').click(function(){
                socket.emit('create room',{token:USER_DATA.token,roomName:USER_DATA.username});
                console.log("btn create room");
                $('#message').val('');
                return false;
            });

            var USER_DATA = {};

            //receive
            //login
            socket.on('login', function(data) {
                if(data.status){
                    let username = data.username;
                    let token = data.token;
                    USER_DATA.username = username;
                    USER_DATA.token = token;
                    divLogin.style.display = 'none';
                    divChat.style.display = '';
                    $('#chat-box p#my-name').html($('<b>').text("Username : "+username));
                    console.log(data.adapter);

                    //get user list
                    socket.emit("ask user list",USER_DATA);
                    socket.emit("ask room list",USER_DATA);
                }else{
                    //alert("Username is already !\n Please enter password of this username or enter new username.");
                    //window.location.replace("https://www.google.co.th");
                    $('#message-wrong-login').html("\"Username\" นี้มีอยู่แล้ว กรุณากรอก \"Password\" ให้ถูกต้อง หรือกรอก \"Username\"อื่น");
                }
            });
            //chat
            socket.on('chat', function(message) {
                $('nav#message-box').append($('<p>').text(message));
                console.log(message);
                var messageBox = document.getElementById("message-box");
                messageBox.scrollTop = messageBox.scrollHeight;
            });

            //user list
            socket.on('user list', function(userlist) {
                var textBox = document.getElementById("user-list-box");
                textBox.innerHTML = "";
                $('nav#user-list-box');
                for(var i in userlist){
                    $('nav#user-list-box').append($('<p>').text(userlist[i]));
                }
                console.log(message);
                textBox.scrollTop = textBox.scrollHeight;
            });

            //room list
            socket.on('room list', function(roomlist) {
                var textBox = document.getElementById("room-list-box");
                textBox.innerHTML = "";
                $('nav#room-list-box');
                for(var i in roomlist){
                    $('nav#room-list-box').append($('<p>').text(roomlist[i].name));
                }
                console.log(message);
                textBox.scrollTop = textBox.scrollHeight;
            });
        </script>
        </div>
    </body>
</html>